<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-3">
        <div class="d-flex align-items-center">
            <div class="image"> <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="rounded" width="130"> </div>
            <div class="ml-3 w-100">
                <h4 class="mb-0 mt-0">{{name}}</h4> <span>{{user}}</span>
                <div class="p-2 pb-0 mt-4 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column"> <span class="articles">Articles</span> <span class="number1">38</span> </div>
                    <div class="d-flex flex-column"> <span class="followers">Followers</span> <span class="number2">980</span> </div>
                    <div class="d-flex flex-column"> <span class="rating">Rating</span> <span class="number3">8.9</span> </div>
                </div>
            </div>
        </div>
    </div>
</div>