
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
    margin-top: 14px;;
  }
 
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
	background-color:#0d6efd!important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
	border-color: #0d6efd!important; /*outer ring color change*/
}